html,body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #403F33;
  color: #AFC2AA;
  padding: 0;
  margin: 0;
  top: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div,span {
  -moz-border-radius-topleft:0.5ex;
  -moz-border-radius-topright:0.5ex;
  -webkit-border-top-left-radius:0.5ex;
  -webkit-border-top-right-radius:0.5ex;
  border-top-left-radius:0.5ex;
  border-top-right-radius:0.5ex;
  -moz-border-radius-bottomleft:0.5ex;
  -moz-border-radius-bottomright:0.5ex;
  -webkit-border-bottom-left-radius:0.5ex;
  -webkit-border-bottom-right-radius:0.5ex;
  border-bottom-left-radius:0.5ex;
  border-bottom-right-radius:0.5ex;
}

.filters {
  z-index: 2;
  margin: 0 0 0 5px;
  background-color: #403F33;
  -moz-border-radius-topleft:0ex;
  -moz-border-radius-topright:0ex;
  -webkit-border-top-left-radius:0ex;
  -webkit-border-top-right-radius:0ex;
  border-top-left-radius:0ex;
  border-top-right-radius:0ex;
  -moz-border-radius-bottomleft:0ex;
  -moz-border-radius-bottomright:0ex;
  -webkit-border-bottom-left-radius:0ex;
  -webkit-border-bottom-right-radius:0ex;
  border-bottom-left-radius:0ex;
  border-bottom-right-radius:0ex;
}

.filter {
  cursor: pointer;
  padding: 10px;
  margin: 10px 0 0 5px;
  background-color: #FFDEA1;
  color: #403F33;
  font-weight: bold;
  display: inline-block;
}

.filter.filtered {
  background-color: #E54C10;
  color: #FFDEA1;
}

.filterlist {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  background-color: #FFDEA1;
  color: #403F33;
  z-index: 1;
  -moz-border-radius-topleft:0ex;
  -moz-border-radius-topright:0ex;
  -webkit-border-top-left-radius:0ex;
  -webkit-border-top-right-radius:0ex;
  border-top-left-radius:0ex;
  border-top-right-radius:0ex;
}

.filterlist .item {
  padding: 5px 10px 5px 10px;
  margin: 5px 0 0 0;
}

.filterlist .item.selected {
  background-color: #E54C10;
  color: #FFDEA1;
}

.truck {
  font-size: 1.5em;
  cursor: pointer;
  padding: 10px;
  margin: 10px 10px 0 10px;
  background-color: #6E755F;
  font-weight: bold;
  position: relative;
}

.truck.selected {
  background-color: #AFC2AA;
  color: #403F33;
  z-index: 1;
}

.details {
  background-color: #FFDEA1;
  color: #403F33;
  padding: 10px;
  margin: 15px;
  font-weight: bold;
  position: relative;
  z-index: 0;
  display: none;
}

.details.selected {
  display: block;
  margin: -30px 10px 0 10px;
  padding: 40px 10px 10px 20px;
  -moz-border-radius-topleft:0ex;
  -moz-border-radius-topright:0ex;
  -webkit-border-top-left-radius:0ex;
  -webkit-border-top-right-radius:0ex;
  border-top-left-radius:0ex;
  border-top-right-radius:0ex;
}

.details .square {
  font-size: 1.25em;
  margin: 5px 0 5px 10px;
}

.details .trucksite {
  font-size: 1.25em;
  margin: 5px 0 5px 0;
  padding: 0 5px 0 5px;

  background-color: #E54C10;
  color: #FFDEA1;
  -moz-border-radius-topleft:0.5ex;
  -moz-border-radius-topright:0.5ex;
  -webkit-border-top-left-radius:0.5ex;
  -webkit-border-top-right-radius:0.5ex;
  border-top-left-radius:0.5ex;
  border-top-right-radius:0.5ex;
  -moz-border-radius-bottomleft:0.5ex;
  -moz-border-radius-bottomright:0.5ex;
  -webkit-border-bottom-left-radius:0.5ex;
  -webkit-border-bottom-right-radius:0.5ex;
  border-bottom-left-radius:0.5ex;
  border-bottom-right-radius:0.5ex;
}

#footer {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  float: right;
  bottom: 0;
}

#play {
  padding: 20px 10px 0 10px;
}

.body {
  padding: 5px 10px 5px 10px;
  font-size: 1.0em;
}

.highlighted {
  padding: 0 5px 0 5px;
  background-color: #E54C10;
  color: #FFDEA1;
  -moz-border-radius-topleft:0.5ex;
  -moz-border-radius-topright:0.5ex;
  -webkit-border-top-left-radius:0.5ex;
  -webkit-border-top-right-radius:0.5ex;
  border-top-left-radius:0.5ex;
  border-top-right-radius:0.5ex;
  -moz-border-radius-bottomleft:0.5ex;
  -moz-border-radius-bottomright:0.5ex;
  -webkit-border-bottom-left-radius:0.5ex;
  -webkit-border-bottom-right-radius:0.5ex;
  border-bottom-left-radius:0.5ex;
  border-bottom-right-radius:0.5ex;
}

#aboutbody {
  font-size: 0.8em;
}

a {
  color: #403F33;
  text-decoration: none;
  outline: 0;
}

a:active, a:focus{
  outline: 0;
}
